@using TinySql.UI
@model FieldModel

<div id="@Model.ID" class="@Model.CssFieldGroup">

    <div class="input-group">
        <input type="hidden" id="@Model.Field.ID" name="@Model.Field.Name"
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div><!-- /input-group -->


    <select id="" class="" name="">
        <option value="">Name</option>
        <option value="" selected>Name</option>

    </select>
</div>
