@using TinySql
@using TinySql.UI
@model Form

@{
    ViewBag.Title = "EditForm";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("~/Views/TinySql/Details/Dialog.cshtml", Model)
        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dialog').modal('show');
        });
    </script>
}
